<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ selectedHero.name }}</h1>
            <p><strong>Primary Attribute:</strong> {{ selectedHero.primary_attribute }}</p>
            <p><strong>Strength:</strong> {{ selectedHero.strength }}</p>
            <p><strong>Agility:</strong> {{ selectedHero.agility }}</p>
            <p><strong>Intelligence:</strong> {{ selectedHero.intelligence }}</p>
            <h2>Skills</h2>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="skill in selectedHero.skills">
                    <h5 class="mb-1">{{ skill.name }}</h5>
                    <p class="mb-1"><strong>Cooldown:</strong> {{ skill.cooldown }}</p>
                    <p class="mb-1"><strong>Mana Cost:</strong> {{ skill.mana_cost }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="../../img/dota.jpg" alt="{{ selectedHero.name }}" style="max-height: 200px;">
        </div>
    </div>
</div>
