<div>
    <div class="p-3 d-flex flex-column gap-3">
        <form ng-submit="searchFunc(searchData)" ng-init="initSearch()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" ng-model="searchData" placeholder="Search" aria-label="Search" ng-init="searchData = 'Kathmandu'"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    
    <div class="card">
        <div class="card-body p-2">
            <section>
                <div class="d-flex flex-row justify-content-between align-items-baseline">
                    <div>
                        <div class="card-tittle fs-1 ">Current Weather</div>
                        <div>
                            <span>Location:</span>
                            <span ng-bind="searchData"></span>
                        </div>
                    </div>
    
                    <div class="time">00:00</div>
                </div>
            </section>
            <section class="row">
                <div class="col-6">
                    <div class="d-flex flex-row justify-content-around">
                        <div class="d-flex flex-column text-center">
                            <!-- check if desc of weather and display icon -->
                            <span class="material-symbols-outlined" style="font-size: 100px;">
                                cloud
                            </span>
                            <span style="font-size: 21px;">{{weatherCondition}}</span>
                        </div>
    
                        <div class="text-center">
                            <div class="d-flex align-items-baseline">
                                <span class="display-4 display-lg-1">{{degree}}</span>
                                <div class="col">
                                    <span class="display-4 display-lg-1">°</span>
                                    <span class="display-6 display-lg-4">C</span>
                                </div>
                            </div>
                            <div style="font-size: 16px;">
                                <span>RealFeel</span>
                                <span>{{degree}}°</span>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <label for="">Wind</label>
                                <label for="">SW {{wind}} KM/h</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <label for="">Wind Gusts</label>
                                <label for="">{{windGust}}KM/h</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <label for="">Sunrise</label>
                                <label for="" class="">{{sunrise}} AM</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <label for="">Sunset</label>
                                <label for="" class="">{{sunset}} PM</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
       
    </div>
    
</div>