<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>AngularJS Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body>
    <div class="d-flex flex-column gap-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ selectedHero.name }}</h1>
                    <p>Primary Attribute: {{ selectedHero.primary_attribute }}</p>
                    <p>Strength: {{ selectedHero.strength }}</p>
                    <p>Agility: {{ selectedHero.agility }}</p>
                    <p>Intelligence: {{ selectedHero.intelligence }}</p>
                    <h2>Skills</h2>
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="skill in selectedHero.skills">
                            <h5 class="mb-1">{{ skill.name }}</h5>
                            <p class="mb-1">Cooldown: {{ skill.cooldown }}</p>
                            <p class="mb-1">Mana Cost: {{ skill.mana_cost }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>