<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ selectedHero.localized_name }}</h1>
            <p><strong>Primary Attribute:</strong> {{ selectedHero.primary_attr }}</p>
            <p><strong>Strength:</strong> {{ selectedHero.base_str }}</p>
            <p><strong>Agility:</strong> {{ selectedHero.base_agi }}</p>
            <p><strong>Intelligence:</strong> {{ selectedHero.base_int }}</p>
            <p><strong>Base Armor:</strong> {{ selectedHero.base_armor }}</p>
            <p><strong>Base Health:</strong> {{ selectedHero.base_health }}</p>
            <p><strong>Base Health Regen:</strong> {{ selectedHero.base_health_regen }}</p>
            <p><strong>Base Mana:</strong> {{ selectedHero.base_mana }}</p>
            <p><strong>Base Mana Regen:</strong> {{ selectedHero.base_mana_regen }}</p>
            <p><strong>Base Magic Resistance:</strong> {{ selectedHero.base_mr }}</p>
            <p><strong>Attack Type:</strong> {{ selectedHero.attack_type }}</p>
            <p><strong>Attack Range:</strong> {{ selectedHero.attack_range }}</p>
            <p><strong>Attack Point:</strong> {{ selectedHero.attack_point }}</p>
            <p><strong>Attack Rate:</strong> {{ selectedHero.attack_rate }}</p>
            <p><strong>Base Attack Time:</strong> {{ selectedHero.base_attack_time }}</p>
            <p><strong>Projectile Speed:</strong> {{ selectedHero.projectile_speed }}</p>
            <p><strong>Move Speed:</strong> {{ selectedHero.move_speed }}</p>
            <p><strong>Day Vision:</strong> {{ selectedHero.day_vision }}</p>
            <p><strong>Night Vision:</strong> {{ selectedHero.night_vision }}</p>
            <h2>Roles</h2>
            <ul>
                <li ng-repeat="role in selectedHero.roles">{{ role }}</li>
            </ul>
            <h2>Pro Statistics</h2>
            <p><strong>Pick Rate (Pro):</strong> {{ selectedHero.pro_pick }}</p>
            <p><strong>Win Rate (Pro):</strong> {{ selectedHero.pro_win }}</p>
            <p><strong>Ban Rate (Pro):</strong> {{ selectedHero.pro_ban }}</p>
            <h2>Public Statistics</h2>
            <p><strong>Pick Rate (Public):</strong> {{ selectedHero.pub_pick }}</p>
            <p><strong>Win Rate (Public):</strong> {{ selectedHero.pub_win }}</p>
            <h2>Turbo Statistics</h2>
            <p><strong>Pick Rate (Turbo):</strong> {{ selectedHero.turbo_picks }}</p>
            <p><strong>Win Rate (Turbo):</strong> {{ selectedHero.turbo_wins }}</p>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="{{ selectedHero.img }}" alt="{{ selectedHero.localized_name }}" style="max-height: 200px;">
        </div>
    </div>
</div>
