<div class="container">
    <h1 class="text-center">Heroes</h1>
    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Attribute</th>
                        <th>Attack Type</th>
                        <th>Roles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hero in heroes" ng-click="logButtonClick(hero)">
                        <td>{{ $index + 1 }}</td>
                        <td><img src="{{ hero.img }}" alt="{{ hero.localized_name }}" style="height: 20px; width: 20px;"></td>
                        <td>{{ hero.localized_name }}</td>
                        <td>{{ hero.primary_attr }}</td>
                        <td>{{ hero.attack_type }}</td>
                        <td>{{ hero.roles }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>