<div class="container">
    <h1 class="text-center">Heroes</h1>
    <input type="text" ng-model="searchQuery" placeholder="Search by name" class="form-control mb-2">

    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Attribute</th>
                        <th>Str</th>
                        <th>Agi</th>
                        <th>Int</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hero in heroes | filter: searchQuery" ng-click="logButtonClick(hero)">
                        <td>{{ $index + 1 }}</td>
                        <td><img src="{{ hero.image }}" alt="{{ hero.image }}" style="height: 30px; width: 30px;"></td>
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.primary_attribute }}</td>
                        <td>{{ hero.strength }}</td>
                        <td>{{ hero.agility }}</td>
                        <td>{{ hero.intelligence }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
